PORT=your_port_number
SALT_ROUNDS=number_of_salt_rounds
SECRET_JWT_KEY=your_jwt_secret_key
NEXTAUTH_SECRET=your_next_auth_secret_key

DATABASE_URL="postgresql://username:password@localhost:5432/database_name?api_key=API_KEY_HERE"